.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2em;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.stuffWrapper {
  margin-top: 20px;

}

button.stuffBtn {
  background-color: red;
  color: #ffffff;
  display: block;
  margin: auto;
}

h5.modal-title {
  margin: auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.imgCenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 315px;
}

.footerImg {
  padding: 15px;
}
